<div
class="section"
id="business-section"
>

<div class="card">

<div class="section-title">

💼 Бизнес аналитика

</div>

<div class="cards-row">

<div class="small-card">

<div class="small-title">

💰 Выручка

</div>

<div
class="small-value"
id="businessIncome"
>

0 ₽

</div>

</div>

<div class="small-card">

<div class="small-title">

📉 Расходы

</div>

<div
class="small-value"
id="businessExpense"
>

0 ₽

</div>

</div>

</div>

<div class="cards-row">

<div class="small-card">

<div class="small-title">

📈 Прибыль

</div>

<div
class="small-value"
id="businessProfit"
>

0 ₽

</div>

</div>

<div class="small-card">

<div class="small-title">

🔥 Маржа

</div>

<div
class="small-value"
id="businessMargin"
>

0 %

</div>

</div>
  
<select id="productSelect" onchange="autoFillProduct()">
    <option value="">📦 Без товара</option>
</select>

<input
id="productQty"
type="number"
placeholder="Количество товара"
value="1"
/>
  
</div>

</div>

</div>
