<div
class="section active-section"
id="home-section"
>

<!-- BALANCE -->

<<div class="small-card">

<div class="small-title">
💰 Баланс
</div>

<div
class="small-value"
id="totalBalance"
>
0 ₽
</div>

</div>

<!-- PERSONAL / BUSINESS -->

<div class="cards-row">

<div class="small-card">

<div class="small-title">

👤 Личный

</div>

<div
class="small-value"
id="personalBalance"
>

0 ₽

</div>

</div>

<div class="small-card">

<div class="small-title">

💼 Бизнес

</div>

<div
class="small-value"
id="businessBalance"
>

0 ₽

</div>

</div>

</div>

<!-- INCOME / EXPENSE -->

<div class="cards-row">

<div class="small-card">

<div class="small-title">

📈 Доходы

</div>

<div
class="small-value"
id="incomeStat"
>

0 ₽

</div>

</div>

<div class="small-card">

<div class="small-title">

📉 Расходы

</div>

<div
class="small-value"
id="expenseStat"
>

0 ₽

</div>

</div>

</div>

<!-- LAST OPERATIONS -->

<div class="card">

<div class="section-title">

🕓 Последние операции

</div>

<div id="lastTransactions">

Загрузка...

</div>

</div>

</div>
