<div
class="section"
id="warehouse-section"
>

<div class="cards-row">

    <div class="small-card">

        <div class="small-title">
            📦 Товаров
        </div>

        <div
        class="small-value"
        id="warehouse-products"
        >
        0
        </div>

    </div>

    <div class="small-card">

        <div class="small-title">
            💰 Остаток
        </div>

        <div
        class="small-value"
        id="warehouse-stock"
        >
        0 ₽
        </div>

    </div>

</div>

<div class="cards-row">

    <div class="small-card">

        <div class="small-title">
            📈 Потенциал
        </div>

        <div
        class="small-value"
        id="warehouse-profit"
        >
        0 ₽
        </div>

    </div>

    <div class="small-card">

        <div class="small-title">
            🔥 Склад
        </div>

        <div
        class="small-value"
        >
        Активен
        </div>

    </div>

</div>

<div class="card">

    <input
    id="warehouse-search"
    class="input"
    type="text"
    placeholder="Поиск товара..."
    />

    <button
    onclick="openAddProduct()"
    class="button"
    >
        ➕ Добавить товар
    </button>

</div>

<div
id="warehouse-list"
>
</div>

</div>
