<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<meta
name="viewport"
content="width=device-width, initial-scale=1.0"
/>

<title>Sage Finance</title>

<link
rel="stylesheet"
href="/static/style.css"
/>

<script src="https://telegram.org/js/telegram-web-app.js"></script>

</head>

<body>

<div class="container">

<div class="top">

<div>
<div class="title">
Sage Finance
</div>

<div class="subtitle">
Финансовый контроль
</div>
</div>

<div class="avatar" id="avatar">
👤
</div>

</div>

<div class="balance-card">

<div class="balance-label">
Общий баланс
</div>

<div class="balance" id="balance">
0 ₽
</div>

</div>

<div class="actions">

<button onclick="openIncome()">
➕ Доход
</button>

<button onclick="openExpense()">
➖ Расход
</button>

</div>

<div class="history-title">
История операций
</div>

<div id="history"></div>

</div>

<script src="/static/app.js"></script>

</body>
</html>
