<div class="navbar">

<div
class="nav-item active"
onclick="openSection('home-section', this)"
>
<i class="fa-solid fa-house"></i>
<span>Главная</span>
</div>

<div
class="nav-item"
onclick="openSection('analytics-section', this)"
>
<i class="fa-solid fa-chart-pie"></i>
<span>Статистика</span>
</div>

<div
class="nav-item nav-add"
onclick="openModal()"
>
<i class="fa-solid fa-plus"></i>
</div>

<div
class="nav-item"
onclick="openSection('business-section', this)"
>
<i class="fa-solid fa-building"></i>
<span>Бизнес</span>
</div>

<div
class="nav-item"
onclick="openSection('warehouse-section', this)"
>
<i class="fa-solid fa-box"></i>
<span>Склад</span>
</div>

</div>
