<!-- PLUS BUTTON -->

<button
style="
position:fixed;
left:50%;
bottom:95px;
transform:translateX(-50%);
width:72px;
height:72px;
border:none;
border-radius:24px;
background:red;
color:white;
font-size:34px;
z-index:99999;
"
onclick="openModal()"
>
+
</button>

<!-- NAVBAR -->

<div class="navbar">

<div
class="nav-item active"
onclick="openSection('home-section', this)"
>

<i class="fa-solid fa-house"></i>

<span>Главная</span>

</div>

<div
class="nav-item"
onclick="openSection('analytics-section', this)"
>

<i class="fa-solid fa-chart-pie"></i>

<span>Статистика</span>

</div>

<div
class="nav-item"
onclick="openSection('business-section', this)"
>

<i class="fa-solid fa-building"></i>

<span>Бизнес</span>

</div>

<div
class="nav-item"
onclick="openSection('warehouse-section', this)"
>

<i class="fa-solid fa-box"></i>

<span>Склад</span>

</div>

</div>
